<div class="container formulario">
  <div class="row servicio">
    <h4 class="col-12">Pedir Presupuesto</h4>
    <form [formGroup]="budgetForm" (submit)="handleBudget()" class="w-100">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <fieldset>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="nombre" formControlName="nombre">
              <label for="floatingInput">nombre</label>
              @if(nombre.invalid && nombre.touched){
                <p class="form-error">Introduce tu nombre</p>
              }
            </div>
          </fieldset>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <fieldset>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput2" placeholder="telefono" formControlName="telefono">
              <label for="floatingInput2">telefono</label>
              @if(telefono.hasError("required") && telefono.touched){
                <p class="form-error">Introduce tu número de telefono</p>
              } @else if(telefono.hasError("pattern") && telefono.touched) {
                <p class="form-error">Introduce un número válido</p>
              }
            </div>
          </fieldset>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <fieldset>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput3" placeholder="name@example.com" formControlName="email">
              <label for="floatingInput3">email</label>
              @if(email.hasError("required") && email.touched){
                <p class="form-error">Introduce tu email</p>
              } @else if(email.hasError("email") && email.touched) {
                <p class="form-error">Introduce un email válido</p>
              }
            </div>
          </fieldset>
        </div>
        <div class="col-12 col-sm-6 col-md-3 align-content-center justify-content-center">
          <div class="form-floating mb-3">
            <button [disabled]="budgetForm.invalid" type="submit" class="btn btn-success btn-solicitar w-100">Solicitar Presupuesto</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

@if (listaBudget.length > 0) {
  <div class="container formulario">
    <div class="row">
        <h4 class="col-12 m-4">Presupuesto en curso: </h4>
    </div>
    <div class="d-flex flex-row-reverse me-4">
      <div class="p-2 sort-header" (click)="sortBudgetBy('nombre')" [ngClass]="{'active': activeSort === 'nombre'}">
        Nombre
        @if(activeSort === 'nombre') {
          <img [src]="sortImage['nombre'] ? 'assets/caret-up-solid.svg' : 'assets/caret-down-solid.svg'" class="sort-icon" />
        }
      </div>
      <div class="p-2 sort-header" (click)="sortBudgetBy('total')" [ngClass]="{'active': activeSort === 'total'}">
        Importe
        @if(activeSort === 'total') {
          <img [src]="sortImage['total'] ? 'assets/caret-up-solid.svg' : 'assets/caret-down-solid.svg'" class="sort-icon" />
        }
      </div>
      <div class="p-2 sort-header" (click)="sortBudgetBy('date')" [ngClass]="{'active': activeSort === 'date'}">
        Fecha
        @if(activeSort === 'date') {
          <img [src]="sortImage['date'] ? 'assets/caret-up-solid.svg' : 'assets/caret-down-solid.svg'" class="sort-icon" />
        }
      </div>
      <div class="search-container">
        <input type="text" placeholder="Busca por nombre" class="search-bar" #searchInput>
        <button class="btn-icon">
          <img src="assets/lupa.svg" alt="Icono de buscar" class="search-icon" (click)="filterResults(searchInput.value)">
        </button>
      </div>
    </div>

      @for (budget of filteredResults; track budget) {
        <div  class="row servicio">
          <div class="col">
            <h4 class="col-12">{{ budget.nombre }}</h4>
            <p>{{ budget.email }}</p>
            <p>{{ budget.telefono }}</p>
          </div>
          <div class="col">
            <h4>Servicios contratados</h4>
            <ul>
              <li *ngFor="let service of budget.services">
                {{ service.name }} - {{ service.price }}$
                <span *ngIf="service.name === 'Web'">
                  ({{ service.pages }} {{ service.pages === 1 ? "página" : "páginas" }},
                  {{ service.languages }} {{ service.languages === 1 ? "lenguaje" : "lenguajes" }})
                </span>
              </li>
            </ul>
          </div>
          <div class="col">
            <h6>Total</h6>
            <h4>{{ budget.total }}$</h4>
          </div>
        </div>
      }

  </div>
}
