.formulario{
  margin-top: 24px;
}

.servicio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: auto;
  flex-wrap: wrap;
}

.btn-solicitar{
  font-size: large;
  align-items: center;
  justify-content: center;
}

.form-error{
  font-size: 0.9em;
  color: red;
}

@media (min-width: 768px) {
  .servicio {
    height: 180px;;
  }
}
